* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
}

.w-alot {
  width: "800px";
}

.w-side {
  width: "350px";
  height: "250px";
  padding: "16px";
  padding-top: "6px";
  padding-left: "36px";
}

.table-1 {
  width: "800px";
}

.hv > tr:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

.Content {
  margin: "5px 0 0 15px";
}

.Header {
  padding: "5px";
  background-color: #fcf8e3;
  font-size: "25px";
  font-weight: bold;
  margin: "5px 0";
}

li:not(:last-child) {
  margin-bottom: "4px";
}

.grad1 {
  fill: linear-gradient(
    rgb(176, 77, 241),
    rgba(255, 0, 242, 0.699),
    rgb(255, 217, 90)
  );
}

.w-profile {
  width: "500px";
}

a[href^="https"] {
  color: cornflowerblue;
}

.tableRow {
  justify-content: space-between;
  display: "grid";
  grid-template-columns: "1fr 1fr 1fr 1fr 1fr 1fr 1fr";
  width: "1000px";
  border-color: "black";
  border-width: "2px";
} /*increase length*/

.block {
  text-align: center;
  margin: 10px;
  font-size: "20px";
}

.heatmap {
  /* grid-auto-rows: 30px; */
}

.heatmap > div {
  border: 1px solid lightgray;
  padding: 2px;
}

.heatmap > .header {
  font-weight: bold;
  padding-left: 10px;
  background-color: #efefef;
}